<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Battleship</title>
  <!--<link rel="stylesheet" href="../../styles.css"/>-->
  <style>
    .button {
      border: none;
      padding: 0px 0px;
      display: inline-block;
      margin: 0px 0px;
      cursor: pointer;
    }
    table td {
      width: 62px;
      overflow: hidden;
      display: inline-block;
      white-space: nowrap;
      padding: 1px;
      border: 1px thin transparent;
    }
  </style>
</head>
<body>
  <div *ngIf="gameState == 0">
    <h1>Enter your name and press Start</h1>
    <textarea id="nameField" autofocus></textarea>
    <button (click)="StartGame()"> Start </button>
  </div>



  <div *ngIf="gameState == 1">
    <h2>Hello {{username}}</h2>
    <h3>Place your ships</h3>
    <button *ngIf="amountOfShipsPlaced == shipInfos.length" (click)="ShipsEntered()" style="height:100px;width:100px">DONE!!!</button>
    <table style="table-layout: fixed; border: 1px thin transparent;" cellpadding="1" cellspacing="1" class='table'>
      <tr *ngFor="let row of tiles">
        <td width="61px" height="61px" *ngFor="let tile of row">
          <div *ngIf="BoolCheck(tile); else elseBlock">
            <button (click)="ChooseTile(tile)" style="height:60px;width:60px" [disabled]="tilesDisabled">{{tile.tileName}}</button>
          </div>
          <ng-template #elseBlock>
            <button (click)="ChooseTile(tile)" style="height:60px;width:60px;background:rgba(230, 46, 0, 0.53)" disabled>{{tile.tileName}}</button>
          </ng-template>
        </td>
      </tr>
    </table>
    <div *ngFor="let info of shipInfos">
      <button (click)="ChooseShip(info)" id="shipButton" [disabled]="!tilesDisabled" *ngIf="!info.isPlaced">{{info.name}}</button>
    </div>
    <h3>Reset section</h3>
    <div *ngFor="let info of shipInfos">
      <button (click)="resetShip(info)" id="resetShipButton" *ngIf="info.isPlaced">Reset {{info.name}}</button>
    </div>
    <button (click)="resetBoard()"> RESET ALL!!! </button>
  </div>



  <div *ngIf="gameState == 2 || gamestate == 3">
    <h2>Hello {{username}}</h2>
    <h3>Click the tile you want to shoot</h3>

    <table style="table-layout: fixed; border: 1px thin transparent;" cellpadding="1" cellspacing="1" class='table'>
      <tr *ngFor="let row of tiles">
        <td width="61px" height="61px" *ngFor="let tile of row">
          <button *ngIf="tile.tileHit == 0" (click)="ShootAtTile(tile)" style="height:60px;width:60px" [disabled]="!readyForShot">{{tile.tileName}}</button>
          <button *ngIf="tile.tileHit == 1" style="height:60px;width:60px;background:rgba(230, 46, 0, 0.70)" disabled>{{tile.tileName}}</button>
          <button *ngIf="tile.tileHit == 2" style="height:60px;width:60px;background:rgba(26, 219, 52, 0.70)" disabled>{{tile.tileName}}</button>
        </td>
      </tr>
    </table>
    <div *ngFor="let sunkenShip of sunkenShips">{{sunkenShip}}</div>
    <table *ngIf="gameState == 2" style="table-layout: fixed; border: 1px thin transparent;" cellpadding="1" cellspacing="1" class='table'>
      <tr *ngFor="let row of aiTargetBoard">
        <td width="61px" height="61px" *ngFor="let tile of row">
          <button style="height:60px;width:60px;" [style.background-color]="MakebackgroundColor(this, tile.probability)" disabled>{{CalculateProbabilities(tile.probability)}}</button>
        </td>
      </tr>
    </table>
    <table style="table-layout: fixed; border: 1px thin transparent;" cellpadding="1" cellspacing="1" class='table'>
      <tr *ngFor="let row of tiles">
        <td width="61px" height="61px" *ngFor="let tile of row">
          <button style="height:60px;width:60px;" [style.background-color]="isShipOnTile(tile.x, tile.y)" disabled>
            <div *ngIf="tile.tileShot">X</div>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="gameState == 3">
    <h4>{{GetPlayerWhoWon()}} won the game!!!</h4>
    Do you want to restart the game?
    <button (click)="RestartOrEndGame(true)">Restart Game</button>
    <button (click)="RestartOrEndGame(false)">End Game</button>
  </div>
</body>
</html>

