<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Battleship</title>
  <!--<link rel="stylesheet" href="../../styles.css"/>-->
  <style>
    .button {
      border: none;
      padding: 0px 0px;
      display: inline-block;
      margin: 0px 0px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <button (click)="StartGame()" *ngIf="!gameStarted"> Start </button>
  <table style="height:510px; width:510px; table-layout: fixed; border: 1px thin transparent;" cellpadding="1" cellspacing="1" class='table' *ngIf="gameStarted">
    <tr *ngFor="let row of tiles">
      <td style="padding:1px; border: 1px thin transparent;" width="50" *ngFor="let tile of row">
        <button style="height:50px;width:50px">{{tile.tileName}}</button>
      </td>
    </tr>
  </table>
</body>
</html>

